---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <div class="profile-header">
                <div class="profile-intro">
                    <h1>안녕하세요!</h1>
                </div>
            </div>
            <p>
                안녕하세요! <a href="https://ryuseilabs.com"
                    >Ryusei Labs</a
                >를 운영하며 개발하고 여기에 글을 쓰는 nanowater입니다.
            </p>
            <p>
                이곳에는 주로 개발하면서 겪은 이야기들을 기록하지만, 가끔은 일상
                속 소소한 생각이나 흥미로운 다른 분야의 이야기도 자유롭게
                적어보려 합니다.
            </p>

            <p>
                의견을 나누고 싶으시거나 궁금한 점이 있다면 언제든 <a
                    href="mailto:nanowater718@gmail.com"
                    >nanowater718@gmail.com</a
                > 또는 <a href="https://x.com/ryuseihsn">@ryuseihsn</a>으로
                편하게 연락해 주세요.
            </p>
        </main>
        <Footer />
    </body>
</html>
